name: Release

on:
    push:
        tags:
            - "v*"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version: "1.21"

            - name: Build
              run: |
                  make build-all
                  make release

            - name: Create Release
              uses: softprops/action-gh-release@v1
              with:
                  files: dist/release/*
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
